html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

label {
    text-transform: uppercase;
}

body {
    display: flex;
    min-height: 100vh;
}

.banner {
    background-image: url(background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 35vw;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: #F9FAFB;
    width: 65vw;
    display: flex;
    flex-direction: column;
}

.footer,
.footer a:visited {
    font-size: 0.8rem;
    color: #D3D3D3;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    margin-bottom: 0;
}

#log-in {
    color: #596D48;
    text-decoration: none;
}

.logo-text {
    font-family: norse-bold, 'Roboto', sans-serif;
    color: white;
    font-size: 6rem;
    margin-top: 25px;
}

.logo-container {
    height: 200px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
}

img {
    height: 8rem;
}

.container {
    flex-grow: 1;
}

.form-container {
    background-color: white;
    box-shadow: 0px 2px 10px lightgray;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: none;
}

.intro,
.submit {
    height: 30vh;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 40px;
}

.intro,
.form-intro {
    font-size: 1.3rem;
    font-weight: 550;
}

.form-intro p+p,
#password-check {
    font-size: 0.7rem;
    font-weight: 400;
}

.intro p+p {
    padding-top: 1.3rem;
}

.intro,
.form-container,
.submit {
    padding-left: 3vw;
    padding-right: 14vw;
}

button {
    width: 220px;
    height: 3rem;
    background-color: #596D48;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 5px 5px 10px lightgray;
    border: #596D48;
    margin-top: 3vh;
    margin-bottom: 4vh;
    cursor: pointer;
}

button:hover {
    background-color: #596d48dd;
}

form {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

label,
input {
    width: 230px;
    display: block;
}

label {
    font-size: 0.7rem;
    font-weight: bold;
}

input {
    margin-bottom: 20px;
    height: 2rem;
    border-radius: 4px;
    border: 1px solid gainsboro;
    font-family: inherit;
    padding-left: 8px;
    padding-right: 8px;
}

#password-check {
    margin-top: -20px;
    color: red;
}

input:focus,
input:hover {
    box-shadow: 0px 0px 5px lightgray;
}

.invalid {
    border: 1px solid red;
}

.name-container,
.email-num-container,
.passwords-container {
    display: flex;
    gap: 50px;
}